* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header {
    margin-top: 45px;
}

.container {
    width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__wrapper{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    
}


.header__list {
    display: flex;
    align-items: center;
    column-gap: 33px;
}

.header__item {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
}

.header__link {
    color: #83888f;
    transition: 0.5s;
}

.header__link:hover {
    color: #333d4b;
}

/* section 1-bolim */

.wrapper {
    background-image: url("../images/contactcofe.png");
    background-repeat: no-repeat;
    width: 1200px;
    height: 450px;
    margin-top: 43px;
    border-radius: 10px;
}
.wrapper__title {
    padding: 137px 784px 24px 85px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #fefcf7;
}
.wrapper__text {
    margin: 0 750px 137px 85px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #fefcf7;
    opacity: 0.8;
}

/* section 2-bolim */

.case__wrapper{
    margin-top: 180px;
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 653px;
    left: 80px;
    top: 740px;
    background: #2C343E;
    border-radius: 10px;
}

.case__list{
    margin: 100px 53px 0 62px;
}

.case__title{
    width: 200px;
    height: 73px;
    margin-top: 38px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.case__text{
    font-family: sans-serif;
    width: 257px;
    height: 130px;
    margin-top: 48px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.case__item{
    margin-top: 65px; 
    text-align: center;
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    padding: 16px 31px;
}

/* section 3-bolim */

.home__box-block{
    display: flex;
    justify-content: space-between;
}

.home__left-list{
    margin: 100px 0 0 50px;
    
}

hr{
    margin-top: 20px;
}

.home__left-item{
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 32px;
    color: #83888F;
}

.home__span{
    margin-top: 50px;
    font-weight: 900;
    font-size: 40px;
    line-height: 32px;
    color: #0E8784;
}

.home__right-block-title{
    margin: 100px 50px 56px 0;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
}

.home__right-box{
    width: 730px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}


.home__ichki-div{
    width: 228px;
    height: 250px;
    background: #F4F1EB;
    border-radius: 8px;
    transition: 0.3s;
}

.home__ichki-div:hover{
    box-shadow: 0px 1px 30px 1px black;
}

.home__h3{
    margin: 32px 101px 24px 28px;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.home__p{
    font-family: sans-serif;
    margin: 24px 28px 84px;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
}

.home__ichki-div-1{
    width: 228px;
    height: 250px;
    background: #0E8784;
    border-radius: 8px;
    transition: 0.3s;
}

.home__ichki-div-1:hover{
    box-shadow: 0px 1px 30px 1px black;    
}

.home__h3-1{
    margin: 32px 101px 24px 28px;
    font-size: 24px;
    line-height: 32px;
    color: #FEFCF7;
}

.home__p-1{
    font-family: sans-serif;
    margin: 24px 28px 84px;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

/* section 4-bolim */

.block__wrapper{
    margin: 88px 0 55px 471px;
    width: 730px;
    height: 208px;
    left: 545px;
    top: 3762px;
    background: #2C343E;
}

.block__text{
    padding: 31px 300px 8px 64px;
    font-family: sans-serif;
    font-size: 10px;
    line-height: 26px;
    text-transform: uppercase;
    color: #999999;
}

.block__title{
    margin: 0 64px 20px;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
}

span{
    color: 
    #0E8784;
}


.block__link{
      font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #fefcf7;
  background: #66d2cf;
  border-radius: 6px;
  width: 217px;
  display: inline-block;
  padding: 15px 31px;
  margin: 50px 0 0px 982px;
}

.bottom__box{
    margin-top: 200px;
    width: 1200px;
    height: 120px;
    left: 80px;
    top: 3387px;
    background: #2C343E;
    display: flex;
    justify-content: space-between;
}

.bottom__link{
    width: 236px;
    height: 26px;
    margin: 47.44px 103px 48.56px 117.9px;
}

.bottom__list{
    font-family: sans-serif;
    margin: 53.44px 180.1px 51.56px 0px;
    width: 283px;
    height: 15px;
    display: flex;
    justify-content: space-between;
}


.bottom__link-logo{
    margin: 47px 85px 48px 0;
    width: 125px;
    height: 25px;
    display: flex;
    justify-content: space-between;
}

a{
    color: #83888F;
}